/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color:#333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color:black;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 82em;
}


/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}


/*
 * Footer
 */
.mastfoot {
  color: rgba(255, 255, 255, .5);
}

/* --------------------------自定義-------------------------------------- */
.Crystal{
    color:red;
    font-weight: bold;
}

.outer{
  border :1px solid transparent;
  background-image: url(../background.jpg);
  height: 600px;
}



.about{
    margin-left : 100px;
    margin-right : 100px;
    margin-top : 150px;
    margin-bottom : 250px;
}


.cont {
  font-weight: bold;
  font-family: "Microsoft YaHei";
}

.content{
  font-size: 30px;
}


.divider{
  height: 10px;
  width: 100%;
  background-color: #717171;
  margin-top: 230px;
  margin-bottom: 150px;
}

.date{
  font-size: 25px;
  padding-left: 10px
}

.education{
  margin-bottom:150px;
}

.down{
  margin-top: 40px;
}

.divider1{
  height: 10px;
  width: 100%;
  background-color:#717171; 
  margin-top: 50px ;
}


.center{
  border: 2px solid silver;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 90px;  
  margin-top: 45px;
  border-radius: 3rem;
}

.message .btn{
  width:105px ;
  height: 50px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  font-size: 20px;
  margin-top :25px !important;
}

.message input{
  border: 3px solid #9a9a9a;
  background-color: silver;
  color: black;
  width: 35%;
  height: 60px;
}

.message textarea{
  border: 3px solid #9a9a9a;
  background-color: silver;
  width: 90%;
  height: 250px;
}

.message label{
  font-size: 25px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}

.flash{
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}

.total{
  font-size: 50px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
  margin-top: 150px;
  margin-bottom: 35px;
}

.mylist{
  background-color: #404040;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1px;
  margin-top: 5px;  
  width: 60%;
  }

  .mylist:hover{
    background-color: #404040;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2px;
    margin-top: 10px;  
    width: 60%;
  }


  .name{
    font-size: 25px;
    font-weight: bold;
    font-family:"Microsoft YaHei" ;
  }


  .word{
    background-color: #404040;
    width: 60%;
    margin-top: 0px;
    margin-right: auto;
    margin-left: auto;
    font-family:"Microsoft YaHei" ;
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
  }


  .error{
    border: 2px solid white;
    font-family:"Microsoft YaHei";
    font-weight: bold;
    font-size: 50px;
    height: 300px;
    border-radius: 3rem;
    margin-top: 50px;
  }

  .wrong{
    font-size:15px
  }

  .login{
    font-family:"Microsoft YaHei" ;
    font-size: 15px;
    font-weight: bold;
    width: 70px;
    height: 35px;
    margin-left: 15px;
    margin-top: 0px;
    padding: 0.25rem 0px;
  } 
  /* rem 是一種相對長度單位。相對於根元素(即 html 元素) font-size 計算值的倍數。*/

  .center1{
    border: 2px solid silver;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 30px;
    border-radius: 3rem;
  }

input[type=text]{
  height: 60px
}


input[type=submit]{
  height: 60px;
  width: 100%;
  margin-top: 70px;
  font-size: 20px;
  font-weight: bold;
  font-family:"Microsoft YaHei" ;
}

.post label{
  font-size: 25px;
  font-weight: bold;
  font-family: "Microsoft YaHei";
}


.inline{
  display: inline ;
}















  /*------------------動態網頁的定義-------------------------------------------*/


  .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .content-section {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
  }
  
  .content-section-heading h2, .content-section-heading .h2 {
    font-size: 3rem;
  }
  .content-section-heading h3, .content-section-heading .h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
  
  caption {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #6c757d;
    text-align: left;
  }
  
  .g-0,
  .gx-0 {
    --bs-gutter-x: 0;
  }
  
  .px-lg-5 {
    padding-right: 3rem !important;
    padding-left: 3rem !important;
  }
  

  