<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Crystal的個人網站{% endblock %}</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">  
    
    <style>
        .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
  
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
      </style>
</head>
<body class="text-center">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto">
          <div class="inner">
            <h3 class="masthead-brand display-4 Crystal">Crystal</h3>
            <nav class="nav nav-masthead justify-content-center">
              <a {%  if request.endpoint == 'index' %}class="nav-link active"{% else %}class="nav-link" {% endif %} href="{{ url_for('index') }}">首頁</a>
              <a class="nav-link " href="/#education">學歷</a>
              <a class="nav-link " href="/#experience">經歷</a>
              <a {% if request.endpoint == 'story'%}class="nav-link active" {% else %} class="nav-link" {% endif %} href="{{url_for('story')}}">動態</a>
              {% if current_user.is_authenticated %}
              <a class="btn btn-lg btn-danger login" href="{{url_for('logout')}}">登出</a>
              {% else%}
              <a class="btn btn-lg btn-danger login" href="{{url_for('login')}}">登入</a>
              {% endif %}
            </nav>
          </div>
        </header>
      
        <main role="main" class="inner cover">
          {% block main %}


          {% endblock %}
        </main>
        
        <div class="container">
            {% block footer %}
            <footer class="row row-cols-5 py-5 my-5 ">
                <div class="col">
                  <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
                    <svg class="bi me-2" width="50" height="50"><use xlink:href="#bootstrap"/>
                      <image xlink:href="{{ url_for('static', filename='Crystal.png') }} "width="100%" height="100%"/>
                    </svg>                   
                  </a>
                  <p class="text-muted">&copy; 2021</p>
                </div>
            
                <div class="col">
            
                </div>
            
                <div class="col">
                  <h5 class="text-left">有疑問嗎 ?請聯絡我｡</h5>
                  <ul class="nav flex-column text-left">
                    <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">台中,台北</a></li>
                    <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">0979-201969</a></li>
                    <li class="nav-item mb-2"><a  class="nav-link p-0 text-muted">jpkoq18@gmail.com</a></li>
                  </ul>
                </div>
            
                <div class="col">
                  <h5 class="text-left">社群網站服務</h5>
                  <ul class="nav flex-column text-left">
                    <li class="nav-item mb-2"><a href="https://www.linkedin.com/in/crystal-chen-568a0a117/" class="nav-link p-0 text-muted">LinkedIn</a></li>
                    <li class="nav-item mb-2"><a href="https://www.facebook.com/jpkoq18/" class="nav-link p-0 text-muted">Facebook</a></li>
                    <li class="nav-item mb-2"><a href="https://www.cakeresume.com/me/chen-crystal-f3c729" class="nav-link p-0 text-muted">CakeResume</a></li>
                  </ul>
                </div>
            
                <div class="col">
                  <h5 class="text-left">學習歷程與作品</h5>
                  <ul class="nav flex-column text-left">
                    <li class="nav-item mb-2"><a href="https://github.com/Crystal9202" class="nav-link p-0 text-muted">Github</a></li>
                  </ul>
                </div>
              </footer>   
            </div>
            {% endblock %}                 
        </div>
    
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.2.1.slim.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
{{ moment.include_moment(local_js=url_for('static', filename='js/moment-with-locales.min.js')) }}
{{ moment.locale('auto_detect=True')}} <!--根據用戶瀏覽器或計算機的語言來設置時間的語言 -->
</body>
</html>